<!DOCTYPE HTML>

<html>
	<head>
		<h1>ShoppingCart</h1>
		
	</head>
	<body onload="load()" >
		<img src="../Images/cart.png" onclick="loadCart()" class="Cartcontainer" style="float:right;" id="viewCart"  alt="CART">      
		<div id="items" class="container" >
		</div>
		<link rel="stylesheet" type="text/css" href="Style.css">
		<script type="text/javascript" src="../Controller/DOM.js"></script>
		<script  type="text/javascript" src="../Controller/Storage.js"></script>
		<script  type="text/javascript" src="../Model/Product.json"></script>
		<script  type="text/javascript" src="../Controller/Productlist.js"></script>	
	
	</body>
</html>