<!DOCTYPE HTML>

<html>
	<head>
		<h1>ShoppingCart</h1>
	
		
	</head>
	<body onload="controller.addImage()" >		
	<body onload="controller.addImage()" >		
		<div id="cartItems" class="simpleCart_cart" >
					<h2>Cart</h2>					
					
				</div>
				<div class="parent">
		<link rel="stylesheet" type="text/css" href="Style.css">
		<script  type="text/javascript" src="../Model/Product.json"></script>		
		<script  type="text/javascript" src="../View/View.js"></script>
		<script  type="text/javascript" src="../Controller/Controller.js"></script>
   
		
		
	
	</body>
</html>